html { 
    background: url(https://img.rezdy.com/PRODUCT_IMAGE/24904/cayo_zapatilla_bocas_panama.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }